node_modules
.env


Respected Ma’am,
I am writing to request a 10-day leave of absence from Trinity institute of technology and research bhopal. I have a family emergency and need to travel to Bihar with my family.
My Grandfather is ill and I am their primary caregiver. I have been in contact with their doctor and they have advised me that it is important for me to be there for them during this time.
I understand that this is a busy time of 1st year for the college and I apologize for any inconvenience this may cause. I will be available by b.techchandancs@gmail.com and 7079128817. if you need to reach me.
I would like to request that my leave of absence begin on 09/6/2023 and end on 18/6/2023. I will return to campus on 19/6/2023.
Thank you for your understanding and consideration.
Sincerely, Chanda
